@import '../../style/index.less';
.@{sc-prefix}-form,
.@{sc-prefix}-searchbar {
  margin: 0px 16px;
  // 因为 light-filter 不需要定宽
  div:not(.@{sc-prefix}-pro-form-light-filter) {
    .@{sc-prefix}-field {
      // 适用于短数字，短文本或者选项
      max-width: 100%;
      &-xs {
        width: 104px;
      }
      &-s {
        width: 216px;
      }
      // 适用于较短字段录入、如姓名、电话、ID 等。
      &-sm {
        width: 216px;
      }
      &-m {
        width: 328px;
      }
      // 标准宽度，适用于大部分字段长度
      &-md {
        width: 328px;
      }
      &-l {
        width: 440px;
      }
      // 适用于较长字段录入，如长网址、标签组、文件路径等。
      &-lg {
        width: 440px;
      }
      // 适用于长文本录入，如长链接、描述、备注等，通常搭配自适应多行输入框或定高文本域使用。
      &-xl {
        width: 552px;
      }
    }
  }
}

.sc-form-nav {
  .ant-anchor {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #fff;
    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 0;
      border-bottom: 1px solid #ebedf0;
      content: '';
    }
    .ant-anchor-ink {
      display: none;
    }
    .ant-anchor-link {
      position: relative;
      flex-grow: 1;
      flex-shrink: 1;
      padding: 18px 20px;
      overflow: hidden;
      color: #000;
      font-size: 14px;
      line-height: 1;
      white-space: nowrap;
      text-align: center;
      text-overflow: ellipsis;
      cursor: pointer;
      transition: all 0.5s;
    }
  }
}
.sc-form-group-container {
  flex-wrap: wrap;
  max-width: 100%;
  // padding-left: 0px!important;
  // padding-right: 0px!important;
  .ant-space-item {
    .ant-col {
      padding-right: 0px !important;
      padding-left: 0px !important;
    }
  }
}

.sc-form-fieldset {
  &-hide-title {
    padding-top: 24px;
  }
  position: relative;

  margin-top: 8px;
  margin-bottom: 8px;
  &-title {
    position: relative;
    margin-bottom: 8px;
    padding: 8px 0px 8px 8px;
    font-weight: 900;
    font-size: 14px;
    border-bottom: solid 1px #f0f0f0;
  }
  &-subtitle {
    padding-bottom: 8px;
  }
}

.ant-modal-custom {
  .sc-form-fieldset {
    &:first-child {
      padding-top: 0px;
    }
  }
}
.sc-viem-item {
  padding: 8px 0;
}
.sc-viem-item-label {
  text-align: right;
}

.ant-form-vertical {
  .sc-viem-item {
    margin-bottom: 0px;
  }
  .sc-viem-item-label {
    margin-bottom: 8px;
    font-weight: bold;
    text-align: left;
  }
}
