:global {
  .ant-modal-custom {
    min-width: 560px;
    max-width: calc(100vw - 56px);
    min-height: 190px;
    vertical-align: middle;
    text-align: initial;
    max-height: calc(100vh - 112px);
    &-body-wrapper {
     // height: 100%;
      width: 100%;
    }

    &-body {
      min-height: 102px;
      max-height: calc(100vh - 200px);
      overflow-y: auto;
    }

    &-footer {
      position: relative;
      top: 24px;
      margin-left: -24px;
      margin-right: -24px;
      padding: 16px 24px;
      border-top: 1px solid #e8e8e8;
    }
  }

  .ant-modal-body {
    padding: 0;
  }
}

.sc-modal-pagetpl {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  &-header {
    width: 100%;
    background-color: #fff;

    z-index: 9;
    padding: 15px 20px;
    box-shadow: 0 0 5px #b5c5ef;
    &-title {
      color: #36c;
      font-size: 18px;
      line-height: 32px;
      text-shadow: 0 0 0 #36c;
    }
    &-toolbar {
      text-align: right;
      button {
        margin-left: 15px;
      }
    }
  }

  &-content {
    flex: 1;
    overflow: auto;
    padding: 10px;
    max-height: 500px;
  }
  &-footer {
    &-bill {
      padding: 10px;
      box-shadow: 0 0 3px #1b6dfd;
      color: #fff;
      font-size: 16px;
      &-content {
        overflow: hidden;
        padding: 0;
        margin: 0;

        > li {
          float: right;
          width: 200px;

          > label {
            width: 80px;
            display: inline-block;
            text-align: right;
          }
        }

        > li:first-child {
          float: left;
        }
      }
    }
  }
}
