@import '~antd/es/style/themes/default.less';

@masterLayout-prefix-cls: ~'@{ant-prefix}-sc-master-layout';

.@{masterLayout-prefix-cls}  {

.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed{
    height: calc(100% - 48px);
    top:48px;
}
.ant-pro-sider-logo h2{
    color: #fff;
    font-size: 16px;
}

.ant-pro-page-container{

   
    background-color: transparent;
    .ant-pro-page-container{
        margin-top: 0px;
    }
} 
}
