@root-entry-name: 'default';
@import (reference) '~antd/es/style/themes/index.less';
@import (reference) '~@ant-design/pro-layout/es/BasicLayout.less';

@pro-layout-sider-menu-prefix-cls: ~'@{ant-prefix}-pro-sider';

@nav-header-height: @pro-layout-header-height;

.@{pro-layout-sider-menu-prefix-cls} {
  position: relative;
  background-color: @layout-sider-background;
  border-right: 0;

  .ant-menu-item{
    margin-top: 0px;
  }
  &.@{ant-prefix}-layout-sider-light {
    .@{ant-prefix}-menu-item a {
      color: @heading-color;
    }
    .@{ant-prefix}-menu-item-selected a,
    .@{ant-prefix}-menu-item a:hover {
      color: @primary-color;
    }
  }

  &-logo {
    position: relative;
    display: flex;
    align-items: center;
    padding: 6px 6px;
    flex-direction: column;
    cursor: pointer;
    transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

    > a {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 32px;
    }

    img {
      display: inline-block;
      height: 32px;
      vertical-align: middle;
    }

    h1 {
      display: inline-block;
      height: 32px;
      margin: 0 0 0 12px;
      color: white;
      font-weight: 600;
      font-size: 18px;
      line-height: 32px;
      vertical-align: middle;
      animation: pro-layout-title-hide 0.3s;
    }
  }

  &-extra {
    margin-bottom: 16px;
    padding: 0 16px;
    &-no-logo {
      margin-top: 16px;
    }
  }

  &-menu {
    position: relative;
    z-index: 10;
    min-height: 100%;
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  }

  .@{ant-prefix}-layout-sider-children {
    display: flex;
    flex-direction: column;
    height: 100%;

    ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    ::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0.15);
      border-radius: 3px;
      box-shadow: inset 0 0 5px rgba(37, 37, 37, 0.05);
    }

    /* 滚动条滑块 */
    ::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.2);
      border-radius: 3px;
      box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.05);
    }
  }

  &.@{ant-prefix}-layout-sider-collapsed {
    .@{ant-prefix}-menu-inline-collapsed {
      width: 48px;
    }
    .@{pro-layout-sider-menu-prefix-cls} {
      &-logo {
        padding: 16px 8px;
      }
    }
  }

  &.@{ant-prefix}-layout-sider.@{pro-layout-sider-menu-prefix-cls}-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    box-shadow: 2px 0 8px 0 rgba(29, 35, 41, 0.05);
    > .@{ant-prefix}-menu-root {
      :not(.@{pro-layout-sider-menu-prefix-cls}-link-menu) {
        height: ~'calc(100vh - @{nav-header-height})';
        overflow-y: auto;
      }
    }
  }

  &-light {
    background-color: @component-background;
    box-shadow: 2px 0 8px 0 rgba(29, 35, 41, 0.05);

    .@{ant-prefix}-layout-sider-children {
      ::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.06);
        border-radius: 3px;
        box-shadow: inset 0 0 5px rgba(0, 21, 41, 0.05);
      }

      /* 滚动条滑块 */
      ::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.12);
        border-radius: 3px;
        box-shadow: inset 0 0 5px rgba(0, 21, 41, 0.05);
      }
    }

    .@{pro-layout-sider-menu-prefix-cls}-logo {
      h1 {
        color: @primary-color;
      }
    }
    .@{ant-prefix}-menu-light {
      border-right-color: transparent;
    }

    .@{pro-layout-sider-menu-prefix-cls}-collapsed-button {
      border-top: @border-width-base @border-style-base @border-color-split;
    }
  }

  &-icon {
    width: 14px;
    vertical-align: baseline;
  }

  &-links {
    width: 100%;
    ul.@{ant-prefix}-menu-root {
      height: auto;
    }
  }

  &-collapsed-button {
    border-top: @border-width-base @border-style-base rgba(0, 0, 0, 0.25);
    .anticon {
      font-size: 16px;
    }
  }

  .top-nav-menu li.@{ant-prefix}-menu-item {
    height: 100%;
    line-height: 1;
  }

  
  .drawer .drawer-content {
    background: @layout-sider-background;
  }

  &-first{
    background-color: #273543 !important;
    .ant-menu .ant-menu-item-active{
      background-color: #434e6c;
    }

  
      .@{ant-prefix}-menu-item a {
        color: @menu-dark-color;
      }
      .@{ant-prefix}-menu-item-selected a,.@{ant-prefix}-menu-item-active a {
       color: #fff;
      }
     
   
  }
    &-second{
      .ant-menu .@{ant-prefix}-menu-item-selected{
     
        background-color: #ebedf0;
      }
   
      left: 92px;
      .@{ant-prefix}-layout-sider-children{
        .@{pro-layout-sider-menu-prefix-cls}-sidebar-title{
          position: relative;
      
       
          // padding: 12px 0px;
          // flex-direction: column;
      
          cursor: pointer;
          h1 {
            color: #323233;

            text-align: center;
            line-height: 48px;
            width: 100%;
            border-bottom: 1px solid @border-color-split;
            border-right: 1px solid @border-color-split;
              height: 48px;
            font-weight: 500;
            margin: 0px;
          }
        }
      }
   
    }
    &-second-fixed{
      position:fixed;
    }
    // 这里关掉了动画，不然使用无法兼容
    .@{ant-prefix}-menu {
      background: transparent;
    }
}

@keyframes pro-layout-title-hide {
  0% {
    display: none;
    opacity: 0;
  }
  80% {
    display: none;
    opacity: 0;
  }
  100% {
    display: unset;
    opacity: 1;
  }
}
// .shared-second-sidebar {
//   -webkit-transition: all .2s;
//   -moz-transition: all .2s;
//   transition: all .2s;
//   width: 132px;
//   width: var(--second-nav-width,132px);
//   height: 100%;
//   margin-left: 92px;
//   padding-bottom: 40px;
//   background-color: #fff;
//   border-right: 1px solid #ebedf0;
//   z-index: 1;
//   position: relative;
//   -webkit-transform: translateX(-100%);
//   -moz-transform: translateX(-100%);
//   transform: translateX(-100%);
//   overflow: hidden;
//   display: -webkit-box;
//   display: -webkit-flex;
//   display: -moz-box;
//   display: flex;
//   -webkit-box-orient: vertical;
//   -webkit-box-direction: normal;
//   -webkit-flex-direction: column;
//   -moz-box-orient: vertical;
//   -moz-box-direction: normal;
//   flex-direction: column;
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;
//   font-family: -apple-system,blinkmacsystemfont,Helvetica Neue,helvetica,arial,PingFang SC,Hiragino Sans GB,Microsoft Yahei,stheiti,simsun,sans-serif;
// }